<aside class="newsletter-wrapper">
    <form class="newsletter">
        <div class="newsletter__header">
            <h2>{{ 'Subscribe to our newsletter'|trans }}</h2>
        </div>
        <div class="newsletter__content">
            <div class="input-group">
                <input type="email" class="form-control" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary">
                        {{ 'Register'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</aside>
