{# https://fontawesome.com/v6/icons/receipt?s=solid filters = money + shopping #}
<div class="payment-methods payment-methods--all">
    <span class="payment-method">
        <i class="fa-brands fa-btc"></i>
    </span>
    <span class="payment-method">
        <i class="fa-solid fa-cash-register"></i>
    </span>
    <span class="payment-method">
        <i class="fa-solid fa-credit-card"></i>
    </span>
    <span class="payment-method">
        <i class="fa-regular fa-credit-card"></i>
    </span>
    <span class="payment-method">
        <i class="fa-brands fa-ethereum"></i>
    </span>
    <span class="payment-method">
        <i class="fa-solid fa-money-check"></i>
    </span>
    <span class="payment-method">
        <i class="fa-solid fa-money-check-dollar"></i>
    </span>
    <span class="payment-method">
        <i class="fa-solid fa-receipt"></i>
    </span>
</div>
