<div class="page-footer__middle">
    <div class="container">
        <div class="footer-links-wrapper">
            {% include 'component/mock/footer-links.html.twig' %}
            {% include 'component/mock/footer-links.html.twig' %}
            {% include 'component/mock/footer-links.html.twig' %}
            {% include 'component/mock/footer-links.html.twig' %}
        </div>
    </div>
</div>
