<div class="page-footer__bottom">
    <div class="container">
        <div class="row">
            {% include 'component/copyright/copyright.html.twig' %}
            {% include 'component/payment-methods/payment-methods.html.twig' %}
        </div>
    </div>
</div>
