<div class="page-header__top">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="navbar navbar-expand">
                {% include 'component/company/contact.html.twig' %}
                {% include 'component/company/social.html.twig' %}
            </div>
        </div>
    </div>
</div>
